BasedOnStyle: Microsoft
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
PackConstructorInitializers: CurrentLine
BinPackArguments: false
BinPackParameters: false