CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
minecraft_server/*
.idea/*
build/*
cmake-build-debug/*
cmake-build-release/*
coverage/*
python/endstone/_version.py