# Don't search for additional CPPLINT.cfg in parent directories.
set noparent

# Limit line length.
linelength=120

# Endstone uses `#pragma once`, not the `#define` guard.
filter=-build/header_guard
filter=+build/pragma_once

filter=-whitespace/indent
filter=-whitespace/braces

filter=-runtime/references

filter=-build/c++11