{% extends "base.html" %}

{% block announce %}
For latest updates join the chat on
<a href="https://discord.gg/xxgPuc2XN9">
    <img alt="Discord"
         src="https://img.shields.io/discord/1230982180742631457?logo=discord&logoColor=white&labelColor=5865F2&color=333333&label=Discord&style=flat-square"
         style="vertical-align: middle">
</a>.

If you like this project, please feel free to
<a href="https://ko-fi.com/EndstoneMC">
    <img alt="Support Us"
         src="https://img.shields.io/badge/Support_Us-f37574?logo=kofi&logoColor=white&style=flat-square"
         style="vertical-align: middle">
</a>.
{% endblock %}
