name: docs
on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - 'v*'
    paths:
      - '.github/workflows/*'
      - 'docs/**'
      - 'include/endstone/**'
      - 'endstone/**'
      - '*.md'
      - 'mkdocs.yml'

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Set Up Doxygen
        run: |
          sudo apt-get update -y
          sudo apt-get install -y doxygen
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@v5
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: pip install -r docs/requirements.txt
      - if: github.ref == 'refs/heads/main'
        run: mike deploy --push latest
      - if: startsWith(github.ref, 'refs/tags/')
        run: mike deploy --push --update-aliases ${{ github.ref_name }} stable
