name: Windows (Portable)

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - stable
      - v*
    tags:
      - 'v*'

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-2022
    env:
      WP_URL: https://github.com/winpython/winpython/releases/download/17.2.20250920final/WinPython64-3.13.7.0dot.exe
      WP_SHA256: 75001c40e8507db4c408f298ce8f49d483efb5ebfa9bdfb50a0509d31bd028f5
      WP_BINARY_DIR: WPy64-31700\python

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: true

      - name: Cache Conan
        uses: actions/cache@v5
        with:
          path: ~/.conan2/p
          key: ${{ runner.os }}-conan-RelWithDebInfo-${{ hashFiles('conanfile.py') }}
          restore-keys: |
            ${{ runner.os }}-conan-RelWithDebInfo-

      - name: Set up MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x86_64

      - name: Set up CMake and Ninja
        uses: lukka/get-cmake@latest

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          CIBW_BUILD: cp313-win_amd64
          CIBW_BUILD_VERBOSITY: 1

      - name: Install Winpython
        run: |
          Invoke-WebRequest -OutFile winpython.exe ${{ env.WP_URL }}
          $file_hash = (Get-FileHash winpython.exe ).Hash
          if ($file_hash -ne "${{ env.WP_SHA256 }}") { exit(1) }
          .\winpython.exe -y

      - name: Install Endstone
        shell: pwsh
        run: |
          $file = Get-ChildItem -Path .\wheelhouse -Filter *.whl | Select-Object -First 1
          ${{ env.WP_BINARY_DIR }}\python.exe -m pip install $file.FullName

      - name: Clean Up
        run: |
          ${{ env.WP_BINARY_DIR }}\python.exe -m pip install pyclean
          ${{ env.WP_BINARY_DIR }}\python.exe -m pyclean ${{ env.WP_BINARY_DIR }}

      - name: Create Bundle
        run: |
          New-Item dist\endstone-win_amd64-portable\bin\python -ItemType Directory
          Copy-Item -Path ${{ env.WP_BINARY_DIR }}\* -Destination dist\endstone-win_amd64-portable\bin\python -Recurse
          Copy-Item -Path scripts\start.cmd -Destination dist\endstone-win_amd64-portable
          Copy-Item -Path CHANGELOG.md -Destination dist\endstone-win_amd64-portable
          Copy-Item -Path LICENSE -Destination dist\endstone-win_amd64-portable

      - name: Create Zip
        run: 7z a endstone-win_amd64-portable.zip .\dist\endstone-win_amd64-portable\*

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          path: endstone-win_amd64-portable.zip
          name: endstone-win_amd64-portable.zip

  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs: [ build ]
    permissions:
      id-token: write
      contents: write

    steps:
      - name: Restore Artifacts
        uses: actions/download-artifact@v7
        with:
          pattern: endstone-*
          path: dist
          merge-multiple: true

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
